/****  Generelle indstillinger  ****/

body {
    background-color: #ebebeb;
}

#map {
    height: 400px;
    width: 100%;
    -webkit-filter: grayscale(20%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
}


/**** MENU INDSTILLINGER ****/

nav {
    top: 40px;
    position: fixed;
    z-index: 2;
    left: 40%;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Futura condensed", sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding: 10px;

}

nav a:hover {
    color: #CC8E3B;
}


/****  Font indstillinger  ****/

h1 {
    font-family: "Futura condensed", sans-serif;
    font-weight: 400;
    font-size: 15px;

}

p {
    font-family: "Futura condensed", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/**** header indstillinger ****/

header p {
    font-family: "Futura condensed", sans-serif;
    font-weight: 100;
    font-size: 10px;
    text-align: center;

}

#logo {
    width: 4%;
    height: auto;
    position: relative;
    padding-bottom: 5px;
    padding-left: 20px;
}

/**** BG VIDEO ****/

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;

}

/**** SLIDESHOW ABOUT ****/

.slider {
    width: 412px;
    height: auto;
    margin: 2em auto;

}

.slider-wrapper {
    width: 100%;
    height: 400px;
    position: relative;

}

.slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}

/**** 41 MM WATCHES  ****/

.column {
    font-family: "Futura condensed", sans-serif;
    font-weight: 100;
    font-size: 10px;
    margin-top: 50px;
    border-bottom: double;
}

.sectionwrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1024px;
    margin: 0 auto;

}

.templateModtager {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;

}

/**** 37 MM WATCHES  ****/

.templateModtager2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;
}

/**** WATCH STRAPS  ****/

.templateModtager3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;
}

/**** WATCH ROLLS  ****/

.templateModtager4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;
}

/**** COFFEE TABLE BOOKS  ****/

.templateModtager5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;
}

.billede {
    max-width: 85%;
    height: auto;

}

.shop {
    padding: 10px;
    text-align: center;

}

/**** MEDIA 41 MM WATCHES  ****/

@media screen and (max-width:700px) {
    .sectionwrapper {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .sectionwrapper {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:700px) {
    .templateModtager {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .templateModtager {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/**** MEDIA 37 MM WATCHES  ****/

@media screen and (max-width:700px) {
    .templateModtager2 {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .templateModtager2 {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/**** MEDIA WATCH STRAPS ****/

@media screen and (max-width:700px) {
    .templateModtager3 {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .templateModtager3 {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/**** MEDIA WATCH ROLLS ****/

@media screen and (max-width:700px) {
    .templateModtager4 {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .templateModtager4 {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

/**** MEDIA COFFE TABLE BOOKS ****/

@media screen and (max-width:700px) {
    .templateModtager5 {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .templateModtager5 {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}


/**** FOOTER ****/

footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

footer img {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 35px;
}

footer p {
    font-size: 12px;
}


footer img:hover {
    transform: scale(1.1);
}


.footerLinks a {
    color: black;
    font-family: "Futura condensed", sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 15px;
}
